#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}

.name {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.time {
  font-size: 1.5rem;
  color: #666;
}
